*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
  }
  
  .container {
    color: white;
    background-color: #000000;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1);
    width: 500px;
  }

  img {
    margin: auto;
    display: flex;
    width: 250px;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group input{
    width: 400px;
    height: 50px;
    background-color: transparent;
    color: white;
    padding: 5px 0px;
    border:1px solid #ccc;
    border-radius: 8px;
    font-size: 17px;
    margin-bottom: 35px;
  }

  .fa-user {
    position: absolute; /* Lock icon inside the box */
    left: 510px; /* Adjust left position as needed */
    top: 415px; /* Adjust top position as needed */
    font-size: 18px;
    color: white; /* Adjust color as needed */
  }
  .fa-lock {
    position: absolute; /* Lock icon inside the box */
    left: 510px; /* Adjust left position as needed */
    top: 500px; /* Adjust top position as needed */
    font-size: 18px;
    color: white; /* Adjust color as needed */
  }

  .fa-eye-slash {
    position: absolute; /* Lock icon inside the box */
    left: 860px; /* Adjust left position as needed */
    top: 500px; /* Adjust top position as needed */
    font-size: 18px;
    color: white; /* Adjust color as needed */
  }

  input,
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  button {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    color: white;
    background-color: #663e8e;
  }
  
  a {
    text-decoration: underline;
    color: #ccc;
  }
  
  a:hover {
    color: #0056b3;
  }
  
  p {
    text-align: center;
  }
  