.menu {
    background-color: #08713d;
    overflow: hidden;
    text-align: center;
  }
  
  .menu a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
    font-size: 30px;
    ;
  }
  
  .menu a:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  
  .menu a.active {
    background-color: #000000;
    color: white;
  }
 
  .icons {
    float: right;
    align-self: baseline;
    color: #f2f2f2;
    text-align: right;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
  }
  .menu img {
    float: left;
    height: 100px;
    width: 100px;
  }