* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(164, 161, 161);
}

.container {
  width: 350px;
  height: auto;
  margin: 50px auto;
  border: 0px solid red;
  background-color: #f8f8f8;
  border-radius: 40px;
  box-shadow: 0 0 5px #f6f1f1;
  padding-bottom: 20px;

  position: relative;
}

.plus-btn {
  position: absolute;
  right: -25px;
  top: 40%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(238, 21, 21);
  box-shadow: 0 0 8px #f24040;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f8f8;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
}

.detail-container {
  background-color: #f6f1f1;
  border-radius: 38px 38px 0 0;
  margin-bottom: 30px;
}

.logo {
  width: 200px;
  margin: auto;
  margin-bottom: 30px;
}

.logo img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 7px solid #f6f1f1;
}

.detail {
  text-align: center;

  padding-bottom: 30px;
  color: #dbdbdb;
}

.detail h2 {
  color: #4a4949;
  font-size: 23px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.stats div span {
  font-weight: 600;
  color: #4a4949;
}

.stats div h5 {
  color: #dbdbdb;
  font-size: 14px;
}

.send-msg {
  text-align: center;
  margin-bottom: 30px;
}

.send-msg button {
  background-color: rgb(21, 153, 157);
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 100px;
  color: #dbdbdb;
}

.more {
  text-align: center;
  color: #dbdbdb;
  cursor: pointer;
}

.more i {
  font-size: 10px;
}
