* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 4px dotted green;
  width: 800px;
  height: 500px;
  margin: auto;

  display: flex;
  align-items: normal; /*y-axis*/
  justify-content: space-between; /*x-axis*/
  gap: 30px;

  /*change flex direction*/
  flex-direction: row-reverse;
}

.box {
  width: 200px;
  height: 200px;
  border: 4px ridge #000;
}

.box-1 {
  background-color: red;
  color: white;
  flex-basis: 200px;
  align-self: flex-start;
}

.box-3 {
  background-color: greenyellow;
  color: red;
  flex: 1;
  align-self: flex-end;
}

.box-2 {
  background-color: brown;
  color: white;
  flex: 0.5;
  align-self: center;
}
