* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 100vh;

  padding: 43vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;
}

header .logo a img {
  color: white;
  width: 150px;
}

/* Nav Link */

header nav {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;

  position: relative;
}

/* after/before effect*/

nav ul .active::after {
  color: #ffffff;
  content: "";
  width: 25px;
  border-bottom: 2px solid;
  bottom: -7px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}

.btn-register button {
  padding: 8px 30px;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 30px;
  border: 0;
}

/* Search Container */
.showcase h2 {
  text-align: center;
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 500;
  padding-bottom: 8px;
}

.search-container {
  margin: 20px auto;
  background-color: #ffffff;
  width: 60vw;
  display: flex;
  padding: 8px 12px;
  padding-right: 50px;
  border-radius: 30px;
  position: relative;
}

.btn-search {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3px;
  top: 3px;
  border: 0;
  background-color: #ff5461;
  cursor: pointer;
}

.form-controls label {
  font-size: 0.9rem;
  font-weight: 500;
}

.form-controls {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-controls input {
  padding: 2px 0;
  border: 0;
  outline: none;
  font-weight: 500;
}
