* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;;
}

.container{
    border: 4px dotted green;
    height: 500px;
    margin: auto;
    width: 800px;

    display: flex;
    align-items: normal; /*y-axis*/
    justify-content: space-between; /*x-axis*/
    gap: 20px;

    flex-direction: row-reverse;
}

 .box {
    width: 200px;
    height: 200px;
    border: 4px ridge #000;
}

 .box-1{
    background-color: red;
    color: white;
    flex-basis: 200px;
    align-self: flex-start;
 }

 .box-3{
    background-color: greenyellow;
    color: red;
    align-self: flex-end;
    flex: 1;
 }

 .box-2{
    background-color: teal;
    color: white;
    flex: 0.5;
    align-self: center;

    justify-self: flex-end;
 }